<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021387950803-3e2jisjontm46mq0te39nlj8plnthn01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021387950803-3e2jisjontm46mq0te39nlj8plnthn01</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021387950803-p9o9utgh182j32ic5ad7llfoo6udli2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8aN1Ep4BLtEqUPRkgEPvKUUgbM_rV8-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1021387950803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instalive.app</string>
	<key>PROJECT_ID</key>
	<string>instalive-b0578</string>
	<key>STORAGE_BUCKET</key>
	<string>instalive-b0578.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021387950803:ios:fbccc20de374357bdbe226</string>
</dict>
</plist>