name: Flutter CI


on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3


      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.1'
          channel: 'stable'
          cache: true


      - name: Install dependencies
        run: flutter pub get


      - name: Analyze code
        run: flutter analyze


      - name: Run tests
        run: flutter test

      - name: Clean Code
        run: flutter clean

      - name: Flutter pub get
        run: flutter pub get


      - name: Build APK
        run: flutter build apk --release --split-per-abi


      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: flutter-release-apk
          path: build/app/outputs/flutter-apk/*.apk
          retention-days: 5